.hideDetail {
  display: none;
}

.detail {
  width: 30px;
}

.bold {
  font-weight: 300;
}

.slds-rich-text-editor__textarea,
.slds-rich-text-editor__output {
  hyphens: auto !important;
}

.pill {
  margin: 2px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #e6eaee;
  font-weight: 600;
  display: inline-block;
}

.grid-detail {
  display: flex;
  flex-wrap: wrap;
}

.grid-detail-row {
  padding: 4px;
  flex: 1 1 160px;
  flex-basis: 12.5%;
  background-color: whitesmoke;
  margin: 2px;
}

.k2k-table {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.k2k-table thead {
  display: none;
}

.k2k-table tr {
  border-bottom: 1px solid #ebebeb;
}

.k2k-link,
.k2k-link:hover {
  text-decoration: none;
}

.k2k-link_table-header {
  font-size: 12px;
  font-weight: 400;
  color: #9fa9ba;
}

.k2k-link_table-header[data-criterion="ASC"]::after {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #9fa9ba transparent;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.k2k-link_table-header[data-criterion="DESC"]::after {
  border-width: 5px 4px 0 4px;
  border-color: #9fa9ba transparent transparent transparent;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.slds-form-element__label:empty {
  display: none;
}

.k2-container-spinner {
  position: relative;
  width: 100%;
  min-height: 20vh;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.k2-table-container_spinner {
  position: relative;
  height: 20vh;
  background-color: white;
}

tr {
  border-bottom: 1px solid #ebebeb;
}

.k2k-table thead {
  display: table-row-group;
}

.k2k-table thead th {
  line-height: 14px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.k2k-table tr {
  border-bottom: 1px solid #ebebeb;
}

.k2k-table tr:after,
.k2k-table tr:before {
  display: none;
}

.k2k-table tr th {
  display: table-cell;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  float: none;
  padding: 0.75rem 0.25rem;
  text-align: left;
}

tr:hover {
  background-color: #eaf4fc;
}

tr {
  border-bottom: 1px solid #ebebeb;
}

tr:after,
tr:before {
  display: none;
}

tr td {
  display: table-cell;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  float: none;
  width: auto;
  padding: 0.5rem 0.25rem;
}

tr td span {
  cursor: pointer;
}
